@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  max-width: none;
}

body {
  background: transparent;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
   --color-a-plus: oklch(86% 0.072 248);     /* Blue-Violet */
  --color-a-minus: oklch(85% 0.099 309);    /* Pinkish Violet */
  --color-b-plus: oklch(88% 0.085 160);     /* Greenish Cyan */
  --color-b-minus: oklch(84% 0.094 190);    /* Aqua-Teal */
  --color-ab-plus: oklch(83% 0.075 60);     /* Golden Yellow */
  --color-ab-minus: oklch(82% 0.085 40);    /* Orange */
  --color-o-plus: oklch(85% 0.095 25);      /* Red-Orange */
  --color-o-minus: oklch(83% 0.095 350);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --chart-6: oklch(0.627 0.265 303.9);
    --chart-7: oklch(0.6 0.118 184.704);
    --chart-8: oklch(0.645 0.246 16.439);
       --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
  }

  .dark {
     --color-a-plus: oklch(55% 0.08 248);      /* Blue-Violet (darker) */
  --color-a-minus: oklch(50% 0.11 309);     /* Magenta Violet */
  --color-b-plus: oklch(60% 0.09 160);      /* Deep Cyan-Green */
  --color-b-minus: oklch(58% 0.10 190);     /* Teal */
  --color-ab-plus: oklch(58% 0.09 60);      /* Golden Mustard */
  --color-ab-minus: oklch(55% 0.10 40);     /* Burnt Orange */
  --color-o-plus: oklch(58% 0.11 25);       /* Deep Red-Orange */
  --color-o-minus: oklch(52% 0.11 350); 
        --chart-1: oklch(63.454% 0.19007 267.106 / 0.6);
    --chart-2: oklch(40.627% 0.03069 174.034 / 0.6);
    --chart-3: oklch(0.769 0.188 70.08 / 0.6);
    --chart-4: oklch(0.627 0.265 303.9 / 0.6);
    --chart-5: oklch(0.645 0.246 16.439 / 0.6);
    --chart-6: oklch(0.6 0.118 184.704 / 0.6);
    --chart-7: oklch(0.398 0.07 227
.392 / 0.6);
    --chart-8: oklch(0.828 0.189 84.429 / 0.6);
    
     --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 16px 28px;
  -webkit-border-t-radius: 10px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-t-radius: 10px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #ffc989;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #ffc989;
  }
  28% {
    transform: translateY(-7px);
    background-color: #ffa947;
  }
  44% {
    transform: translateY(0px);
    background-color: #f1f1f1;
  }
}

.my-config {
  --darkmode: 0;
  --h-accent: 30;
  --s-accent: 100%;
  --l-accent: 50%;
}

.parsed-container img {
  width: 100% !important;
  border-radius: 20px;
}
